.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

mat-card {
  padding: 1rem;
}

mat-form-field {
  width: 100%;
}

button {
  display: block;
  margin: 1rem auto 0;
}

@media screen and (max-width: 959px) {
  .container {
    mat-grid-list {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (min-width: 960px) {
  .container {
    mat-grid-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
